<div *ngIf="mobile" class="mobile-nav-button"><i class="fas fa-bars"  (tapClick)="showOrHideNav()"></i></div>
<div *ngIf="mobile" class="mobile-top">
  <img class="mobile-home-link" src="/assets/images/volleyball.svg" routerLink="/">
</div>
<div class="sidenav" [ngClass]="{'show-mobile-nav' : show }">
  <ul>
    <li>
      <img class="home-link" src="/assets/images/volleyball.svg" routerLink="/">
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/tickets">Tickets</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/team-register">Register team</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/standings">Teams & standings</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/matches">Watch live</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/media">Media</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/about">About</a>
    </li>
  </ul>
</div>
