<div class="sidenav">
  <ul>
    <li>
      <img class="home-link" src="/assets/images/volleyball.svg" routerLink="/">
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/tickets">Tickets</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/team-register">Register team</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/standings">Teams & standings</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/matches">Matches</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/media">Media</a>
    </li>
    <li>
      <a class="nav-link text-blue" routerLink="/about">About</a>
    </li>
  </ul>
</div>
