<div class="main-content">

  <div class="back-to-top">
      <a (click)="backToTop()" class="back-to-top-text text-blue">Back to top</a>
  </div>

  <div class="about-article">
    <div class="about-article-content">
      <h2 class="about-article-title text-blue">The who</h2>
      <p class="main-text text-blue">
        Me and my group of friends.
        My name is Teo Jeftimov,
        a college student at the Zagreb University of Applied Sciences,
        developer and avid fan/player of beach volleyball.
      </p>
    </div>
    <img class="about-article-image" src="/assets/images/media/media2.jpg">
  </div>

  <div class="about-article">
    <img class="about-article-image" src="assets/images/media/media5.jpg">
    <div class="about-article-content">
      <h2 class="about-article-title text-blue">The what</h2>
      <p class="main-text text-blue">
        The biggest and most competitive beach volleyball
        tournament in the Podravina region of Croatia.
      </p>
    </div>
  </div>

  <div class="about-article">
    <div class="about-article-content">
      <h2 class="about-article-title text-blue">The why</h2>
      <p class="main-text text-blue">
        To test ourselves against eachother,
        to improve ourselves,
        to earn money for our club,
        and most importantly
        to have fun.
      </p>
    </div>
    <img class="about-article-image" src="/assets/images/media/media13.jpg">
  </div>

  <div class="about-article">
    <img class="about-article-image" src="assets/images/homeBackground.jpg">
    <div class="about-article-content">
      <h2 class="about-article-title text-blue">The where</h2>
      <p class="main-text text-blue">
        The tournament is held at the Tennis/volleyball club's
        facilities in Đurđevac, Croatia.
      </p>
    </div>
  </div>

  <div class="about-article">
    <div class="about-article-content">
      <h2 class="about-article-title text-blue">The when</h2>
      <p class="main-text text-blue">
        The tournament is held every year on the 15th of August.
      </p>
    </div>
    <img class="about-article-image" src="/assets/images/media/media8.jpg">
  </div>

</div>
