<div class="main-content">

  <div class="back-to-top">
      <a (click)="backToTop()" class="back-to-top-text text-blue">Back to top</a>
  </div>

  <div class="banner">
    <h1 class="main-title text-white">Beach volleyball tournament 2019</h1>
    <div class="banner-buttons">
      <button class="button-yellow button-text text-blue">Get tickets</button>
      <button class="button-yellow button-text text-blue">Register team</button>
    </div>
  </div>

  <div class="get-tickets">
    <div class="ticket-text">
      <p class="main-text text-blue">
        Don't miss out on the biggest beach volleyball event in 2019.
        Get your tickets now!
      </p>
      <button class="button-blue button-text text-white">Get tickets now!</button>
    </div>

    <img class="ticket-image" src="/assets/images/ticketsImage.jpg">
  </div>

  <div class="teams-and-matches">
    <img class="teams-and-matches-image" src="/assets/images/teammates.jpg">

    <div class="teams-and-matches-text">
      <p class="main-text text-yellow">
        Checkout the teams that are competing in the tournament or watch a live match!
      </p>

      <div class="teams-and-matches-buttons">
        <button class="button-yellow-smaller button-text-24 text-blue">Watch a match</button>
        <button class="button-yellow-smaller button-text-24 text-blue">Checkout the teams</button>
      </div>
    </div>
  </div>

  <div class="media">
    <img class="whacky-images-one image-link" src="/assets/images/media/media1.jpg" routerLink="/media">
    <img class="whacky-images-two image-link" src="/assets/images/media/media13.jpg" routerLink="/media">
    <img class="whacky-images-three image-link" src="/assets/images/media/media3.jpg" routerLink="/media">
    <img class="whacky-images-four image-link" src="/assets/images/media/media4.jpg" routerLink="/media">
    <img class="whacky-images-five image-link" src="/assets/images/media/media5.jpg" routerLink="/media">
    <img class="whacky-images-six image-link" src="/assets/images/media/media6.jpg" routerLink="/media">
    <img class="whacky-images-seven image-link" src="/assets/images/media/media7.jpg" routerLink="/media">
    <img class="whacky-images-eight image-link" src="/assets/images/media/media8.jpg" routerLink="/media">

    <div class="media-text">
      <p class="main-text-60 text-blue">See the action from the past tournaments!</p>
    </div>
  </div>

  <div class="about">
    <p class="about-text text-yellow">Learn more about the tournament and the people behind it all</p>
    <img class="the-creator" src="/assets/images/media/media2.jpg" routerLink="/about">
  </div>

</div>
